#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: samanthadiaz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC450q4tY/xXPLl7b+21OhUdPLy0WPlibZi6tpdYC7TYThL4TuMRAUAZEg4ezrGLpLzYcxpkIGpCh3fPg5qiYjS1A1w4hd/EEE7pnuNAWTlfW+DZ4sitpWFB0sAGhDmFY8XG7Ni1cnsSdBKMqULnYgU125aHY8lf+Nx4QOwK26y6Crab1Fulk4jlbjUJF/HiqFiZelvs59Aopl5IzXgHm4GzWTQRmNr7G7q4aRcj7924cnbnhdQcHFwVOymokl1+6QFa0MSpu7d7ws7E4f6ps8OBvsUwzHGEh4jCXTqOWO8ZnnIBL64U3LdCOuA7UVWw/gF3s5QfPSCLNOgZCerQmWl samanthadiaz@samanthadiaz-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo

